# 2. Mean-Variance Optimization
## 1. Summary Statistics
### (a) Calculate and display the mean and volatility of each asset’s excess return. (Recall we use volatility to refer to standard deviation.)

In [1]:
import pandas as pd
import numpy as np

In [4]:
excess_return = pd.read_excel("../data/multi_asset_etf_data.xlsx", sheet_name="excess returns")
excess_return

,Date,BWX,DBC,EEM,EFA,HYG,IEF,IYR,PSP,QAI,SPY,TIP
0,2009-04-30,0.008439,-0.001554,0.155028,0.114636,0.137906,-0.028006,0.295597,0.229649,0.022329,0.098792,-0.018505
1,2009-05-31,0.054144,0.163134,0.159872,0.132390,0.029027,-0.020301,0.023199,0.054364,0.028337,0.058925,0.020438
2,2009-06-30,0.004549,-0.026858,-0.023094,-0.014649,0.032917,-0.006171,-0.025462,0.044850,-0.004035,-0.001254,0.001383
3,2009-07-31,0.031312,0.018595,0.110173,0.100442,0.069218,0.008344,0.105826,0.143274,0.015353,0.074633,0.000906
4,2009-08-31,0.007193,-0.040800,-0.013571,0.044595,-0.017404,0.007200,0.131503,0.032977,-0.004586,0.036504,0.007977
...,...,...,...,...,...,...,...,...,...,...,...,...
156,2022-04-30,-0.069406,0.056699,-0.061061,-0.067101,-0.041513,-0.041992,-0.041014,-0.125389,-0.033108,-0.087479,-0.021540
157,2022-05-31,0.004797,0.045469,0.005472,0.019297,0.015637,0.005521,-0.045096,0.014422,-0.004688,0.001595,-0.010585
158,2022-06-30,-0.045689,-0.074247,-0.050823,-0.086913,-0.069745,-0.007881,-0.068158,-0.131723,-0.032928,-0.081707,-0.030402
159,2022-07-31,0.019562,-0.020776,-0.004373,0.050807,0.066107,0.028733,0.087725,0.108080,0.017940,0.091206,0.042217
160,2022-08-31,-0.052454,0.004846,-0.018049,-0.056060,-0.039106,-0.035820,-0.056111,-0.082090,-0.009835,-0.034729,-0.019612

In [35]:
summary = excess_return.describe().iloc[[1, 2],1:]
summary.index = ["mean", "volatility"]
summary

,DBC,EEM,EFA,HYG,IEF,IYR,PSP,QAI,SPY,TIP
mean,0.002850,0.005664,0.006373,0.005578,0.001765,0.012123,0.010718,0.001518,0.012137,0.002526
volatility,0.052153,0.055446,0.046851,0.025894,0.017144,0.053331,0.064020,0.014195,0.041933,0.013764

In [36]:
summary.loc["Sharpe Ratio"] = summary.loc["mean"]/summary.loc["volatility"]
summary

,DBC,EEM,EFA,HYG,IEF,IYR,PSP,QAI,SPY,TIP
mean,0.002850,0.005664,0.006373,0.005578,0.001765,0.012123,0.010718,0.001518,0.012137,0.002526
volatility,0.052153,0.055446,0.046851,0.025894,0.017144,0.053331,0.064020,0.014195,0.041933,0.013764
Sharpe Ratio,0.054640,0.102158,0.136023,0.215419,0.102966,0.227318,0.167423,0.106910,0.289437,0.183548

### (b) Which assets have the best and worst Sharpe ratios

In [50]:
print("Sharpe Ratio Max: %s \nSharpe Ration Min: %s" % (summary.idxmax(axis=1)["Sharpe Ratio"],summary.idxmin(axis=1)["Sharpe Ratio"]))

Sharpe Ratio Max: SPY
Sharpe Ration Min: DBC

## 2. Descriptive Analysis
### (a) Calculate the correlation matrix of the returns. Which pair has the highest correlation? And the lowest?

In [51]:
absolute_ret = pd.read_excel("../data/multi_asset_etf_data.xlsx", sheet_name="total returns")

### (b) How well have TIPS done in our sample? Have they outperformed domestic bonds? Foreign bonds?

### (c) Based on the data, do TIPS seem to expand the investment opportunity set, implying that Harvard should consider them as a separate asset?